<form [formGroup]="editFormGroup" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre *</label>
    <input id="nombre" name="nombre" type="text" formControlName="nameFormControl" />
    <br/>
    <label for="ojos">Color de ojos *</label>
    <input id="ojos" name="ojos" type="text" formControlName="eyesFormControl" />
    <br/>
    <label for="pelo">Color de pelo *</label>
    <input id="pelo" name="pelo" type="text" formControlName="hairFormControl">
    <br/>
    <label for="piel">Color de piel *</label>
    <input id="piel" name="piel" type="text" formControlName="skinFormControl">
    <br/>
    <label for="altura">Altura *</label>
    <input id="altura" name="altura" type="text" formControlName="heightFormControl">
    <br/>
    <label for="peso">Peso *</label>
    <input id="peso" name="peso" type="text" formControlName="weightFormControl">
    <input type="submit" routerLink="/characters" value="Add" [disabled]="!editFormGroup.valid" />
</form>
